body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue","Poppins"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-1801f5r {
  background-color: rgb(245 242 242 / 60%) !important;
}
.MuiButtonBase-root {
  text-transform: capitalize !important;
}

.css-1801f5r {
  padding-top: 16px;
  padding-bottom: 16px;
  min-height: 12vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}

.css-15d7oug-MuiStack-root {
  margin-top: auto;
}
.css-1oqqzyl-MuiContainer-root {
  margin-top: auto;
}

.css-ahj2mt-MuiTypography-root {
  text-transform: capitalize;
}

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

.nav-bar-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  height: 66px;
  background-color: #3c3a3b;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  height: 0;
}
.css-1qoym6q {
  width: 100%;
}
.css-nen11g-MuiStack-root {
  width: 100%;
}
.css-401arl-MuiStack-root {
  width: 100%;
}

.css-401arl-MuiStack-root {
  width: 100%;
}
.footer {
  height: 10vh;
  margin-top: auto;
}

input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: pointer;

  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: center !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
}

.rounded-bl-full {
  background: #118c94 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
  